<p>
  ${antrag.benutzer.vorname} ${antrag.benutzer.nachname} hat den gestellten Antrag auf ${antrag.antragArt.bezeichnung}
  storniert.
</p>
<ul>
  <li>Art des Antrags: ${antrag.antragArt.bezeichnung}</li>
  <li>Zeitraum vom: $date.format('dd.MM.yyyy', ${antrag.von}) bis: $date.format('dd.MM.yyyy', ${antrag.bis})
    ($number.format('0.#', ${antrag.anzahlTage}) Tage)
  </li>
  #if(${antrag.antragArt.antragArt} == "SONDER")
    <li>Art des Sonderurlaubs: ${antrag.sonderUrlaubArt.sonderUrlaubArt}</li>
  #end
</ul>
<p>Über den folgenden Link gelangen Sie direkt zum Antrag: <a href="${antragsUrl}">Link zum Antrag</a></p>

<p>Diese Mail wurde automatisch generiert. Bitte antworten Sie nicht auf diese Mail.</p>