<h1>Anträge</h1>
<p>
    <a ng-href="#!/antraege/new" class="btn" href="">
        <i class="icon-plus"></i>
        Neuer Antrag</a>
</p>
<form class="form-inline" ng-submit="">
    <div class="row">
        <div class="span6">
            <label class="checkbox inline">
                <input type="checkbox"
                       name="checkRadios"
                       id="checkRadios1"
                       ng-model="filter.nur12Monate"
                       ng-change="fetchAntragListe()"  />
                Nur die letzten 12 Monate
            </label>
        </div>
        <div class="pull-right">
            <label class="radio inline">
                <input type="radio"
                       ng-model="filter.status"
                       name="optionsRadios"
                       id="optionsRadios1"
                       value="ALLE"
                       ng-change="fetchAntragListe()"/>
                Alle
            </label>
            <label class="radio inline">
                <input type="radio"
                       ng-model="filter.status"
                       name="optionsRadios"
                       id="optionsRadios2"
                       value="OFFEN"
                       ng-change="fetchAntragListe()" />
                Offen
            </label>
            <label class="radio inline">
                <input type="radio"
                       ng-model="filter.status"
                       name="optionsRadios"
                       id="optionsRadios3"
                       value="BEWILLIGT"
                       ng-change="fetchAntragListe()" />
                Bewilligt
            </label>
            <label class="radio inline">
                <input type="radio"
                       ng-model="filter.status"
                       name="optionsRadios"
                       id="optionsRadios4"
                       value="ABGELEHNT"
                       ng-change="fetchAntragListe()" />
                Abgelehnt
            </label>
            <label class="radio inline">
                <input type="radio"
                       ng-model="filter.status"
                       name="optionsRadios"
                       id="optionsRadios5"
                       value="STORNIERT"
                       ng-change="fetchAntragListe()" />
                Storniert
            </label>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover" ng-cloak>
    <thead>
    <tr>
        <th>Art</th>
        <th>Status</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Anzahl Tage</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="antrag in antragListe.antraege" ng-class="rowClassFor(antrag)">
        <td>{{antrag.antragArt.bezeichnung}}</td>
        <td>{{antrag.antragStatus.bezeichnung}}</td>
        <td>{{antrag.von|date:'dd.MM.yyyy'}}</td>
        <td>{{antrag.bis|date:'dd.MM.yyyy'}}</td>
        <td>{{antrag.anzahlTage|number}}</td>
        <td>
            <a ng-href="#!/antraege/{{antrag.id}}" href="">Details</a>
            <a ng-href="#!/antraege/{{antrag.id}}/edit" ng-show="antragAenderbar(antrag)" href="">Bearbeiten</a>
            <a ng-href="#!/antraege/{{antrag.id}}/copy" ng-show="antragKopierbar(antrag)" href="">Kopieren</a>
            <a href="" ng-click="deleteAntrag(antrag)" ng-show="antragAenderbar(antrag)">Löschen</a>
            <a href="" ng-click="storniereAntrag(antrag)" ng-show="antragStornierbar(antrag)">Stornieren</a>
        </td>
    </tr>
    </tbody>
</table>
