<h1>Benutzerliste</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Typ</th>
    <th>Login</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Email</th>
    <th>Aktion</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>LDAP</td>
    <td>juhnke_r</td>
    <td>Ralph</td>
    <td>Juhnke</td>
    <td>ralph.juhnke@f-i-solutions-plus.de</td>
    <td><a href="#">Details</a></td>
  </tr>
  <tr>
    <td>Native</td>
    <td>ralli</td>
    <td>Ralph</td>
    <td>Juhnke</td>
    <td>r_juhnke@gmx.de</td>
    <td>
      <a href="#">Bearbeiten</a>
      <a href="#">Löschen</a>
    </td>
  </tr></tbody>
</table>